{% extends 'base.html.twig' %}

{% import _self as self %}

{% set micky = 'Michaela Hann' %}
{% set kay = 'Kay Bader' %}

{% set lastMessage = null %}
{% set nextMessage = null %}
{% set lastShownTimestamp = null %}
{% set chapter = null %}
{% set part = null %}

{% macro weekday(timestamp) %}
    {% spaceless %}
        {% set day = timestamp | date('w') %}
        {% if day == 0 %}
            Sonntag
        {% elseif day == 1 %}
            Montag
        {% elseif day == 2 %}
            Dienstag
        {% elseif day == 3 %}
            Mittwoch
        {% elseif day == 4 %}
            Donnerstag
        {% elseif day == 5 %}
            Freitag
        {% elseif day == 6 %}
            Samstag
        {% endif %}
    {% endspaceless %}
{% endmacro %}

{% macro month(timestamp) %}
    {% spaceless %}
        {% set month = timestamp | date('m') %}
        {% if month == 1 %}
            Januar
        {% elseif month == 2 %}
            Februar
        {% elseif month == 3 %}
            März
        {% elseif month == 4 %}
            April
        {% elseif month == 5 %}
            Mai
        {% elseif month == 6 %}
            Juni
        {% elseif month == 7 %}
            Juli
        {% elseif month == 8 %}
            August
        {% elseif month == 9 %}
            September
        {% elseif month == 10 %}
            Oktober
        {% elseif month == 11 %}
            November
        {% elseif month == 12 %}
            Dezember
        {% endif %}
    {% endspaceless %}
{% endmacro %}


{% block body %}
{% if messages |default %}
    <div class="messages">
        {% for i in 0..(messages | length - 1) %}
            {% if not loop.first %}
                {% set lastMessage = messages[i - 1] %}
            {% else %}
                {% set lastMessage = null %}
            {% endif %}

            {% set message = messages[i] %}

            {% if not loop.last %}
               {% set nextMessage = messages[i + 1] %}
            {% else %}
                {% set nextMessage = null %}
            {% endif %}

            {% set isFirstMessage = not lastMessage | default or lastMessage.senderName != message.senderName %}
            {% set isSubsequentMessage = lastMessage | default and lastMessage.senderName == message.senderName %}
            {% set isLastMessage = not nextMessage | default or message.senderName != nextMessage.senderName %}
            {% if not isLastMessage and nextMessage | default %}
                {% set willShowDateOrTime = false %}
                {% set difference = date(nextMessage.timestamp).diff(date(message.timestamp)) %}
                {% set willShowDateOrTime = difference.h >= 1 %}
                {% if not willShowDateOrTime %}
                    {% set willShowDateOrTime = (message.timestamp | date ('d.m.Y')) != (nextMessage.timestamp | date ('d.m.Y')) %}
                {% endif %}
                {% set isLastMessage = willShowDateOrTime %}
            {% endif %}

            {% set showProfileImage = isLastMessage %}

            {% if lastShownTimestamp %}
                {% set difference = date(message.timestamp).diff(date(lastMessage.timestamp)) %}
                {% set showTime = difference.h >= 1 %}
            {% else %}
                {% set showTime = true %}
            {% endif %}

            {% if not lastMessage | default %}
                {% set showDate = true %}
            {% else %}
                {% set showDate = lastMessage.timestamp | date ('d.m.Y') != message.timestamp | date ('d.m.Y') %}
            {% endif %}

            {% set day =  self.weekday(message.timestamp) ~ ', ' ~ message.timestamp | date('d') ~ '. ' ~ self.month(date(message.timestamp, 'm')) ~ ' ' ~ message.timestamp | date('Y') %}
            {% set monthAndYear =  self.month(date(message.timestamp, 'm')) ~ ' ' ~ message.timestamp | date('Y') %}
            {#
            {% if part != monthAndYear %}
                {% if part is not null %}
                    <div class="break-before"></div>
                {% endif %}
                {% set part = monthAndYear %}
                {% include 'inc/part.html.twig' with {part: part} %}
                <div class="break-after"></div>
            {% endif %}
            #}
            {% if chapter != message.chapter %}
                {% if chapter is not null %}
                    <div class="break-before"></div>
                {% endif %}
                {% set chapter = message.chapter %}
                {% if chapterObject is defined and chapterObject.title | default %}
                    {% include 'inc/chapter.html.twig' with {chapter: chapterObject.title} %}
                {% else %}
                    {% include 'inc/chapter.html.twig' with {chapter: day} %}
                {% endif %}
            {% endif %}

           {% set chapterTimestamp = message.chapter | date('Y-m-d') %}


            <div class="keep-together">
                <div style="position: absolute; top: 0px; right: -500px;">
                    <h1>{{ chapterTimestamp | date('d') }}. {{ self.month(date(chapterTimestamp, 'm')) }} {{ chapterTimestamp | date('Y') }}</h1>
                    <h2>{{ chapterTimestamp | date('d') }}. {{ self.month(date(chapterTimestamp, 'm')) }} {{ chapterTimestamp | date('Y') }}</h2>
                    <h3>{{ chapterTimestamp | date('d') }}. {{ self.month(date(chapterTimestamp, 'm')) }} {{ chapterTimestamp | date('Y') }}</h3>
                </div>
                {% if showDate or showTime %}
                    <div class="timestamp">
                        {% if showDate and message.timestamp | date('Y-m-d') != message.chapter  %}
                            {{ message.timestamp | date('d.m.Y') }}
                        {% endif %}
                        {% if showTime %}
                            {{ message.timestamp | date('H:i') }} Uhr
                        {% endif %}
                    </div>
                    {% set lastShownTimestamp = message.timestamp %}
                    {% set isFirstMessage = true %}
                    {% set isSubsequentMessage = false %}
                {% endif %}

                {% set senderName = message.senderName | lower | replace({' ' : '-'})  %}

                <div data-id="{{ message.id }}" class="message {{ senderName }} {% if isFirstMessage %}first-message{% endif %} {% if isSubsequentMessage %}subsequent-message{% endif %} {% if isLastMessage %}last-message{% endif %}">
                    {% if message.photo | default%}
                        <img class="photo" src="{{ asset('build/images/' ~ message.photo) }}" />
                        <div class="clearfix"></div>
                    {% else %}
                        {% set content = message.content | emoji_replace %}
                        <div class="content-wrapper{% if message.link | default %} share-wrapper-follows{% endif %} {% if content is only_emoji  %} only-emoji{% endif %}">
                            {% spaceless %}
                                <span class="content-text">{{ content | raw}}</span>
                            {% endspaceless %}
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    {% endif %}
                    {% if message.link | default %}
                        {% if message.ogImage | default and not message.ogTitle | default and not message.ogDescription | default and not message.host | default %}
                            <img class="photo" src="{{ message.ogImage }}" />
                            <div class="clearfix"></div>
                        {% elseif message.ogImage | default or message.ogTitle | default or message.ogDescription | default %}
                            <div class="share-wrapper">
                                {% if message.ogImage | default %}
                                    <img class="og-image" src="{{ message.ogImage }}" />
                                {% endif %}
                                <div class="share-info-wrapper">
                                    {% if message.ogTitle | default %}
                                        <div class="og-title">{{ message.ogTitle }}</div>
                                    {% endif %}
                                    {% if message.ogDescription | default %}
                                        <div class="og-description">{{ message.ogDescription }}</div>
                                    {% endif %}
                                    {% if message.host | default %}
                                        <div class="host">{{ message.host }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        {% endif %}
                    {% endif %}
                    {% if showProfileImage %}
                        <img class="profile-image" src="{{ asset('build/images/' ~ senderName ~ '.jpg') }}" />
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}
